@charset "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body,html{width:100%;height:100%}body{-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:none;margin:0;padding:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}ol,ul{list-style:none}hr{border:0;height:1px;background:#ccc}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{margin:0;padding:0;list-style:none;box-sizing:border-box}html,input,select,textarea,button,a{-webkit-tap-highlight-color:rgba(0,0,0,0)}
body {
  background: #edf0f1;
  padding: 80px 0 0 0;
  user-select: none;
}

body,  input,  button {
  font-family: 'Roboto', sans-serif;
}

*::-moz-focus-inner {
  border: 0;
}
*{
  outline: none;
  border: none;
}



.todo-app .noFill {
  fill: none;
}

.todo-app header {
  width: 30%;
  height: 80px;

  position: fixed;
  padding: 15px;
  top: 0;
  right: 0;
  z-index: 5;

  background: rgba(255, 175, 0,1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
/*  border-bottom-right-radius: 10px;*/
/*  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;*/
  /*border-left: 2px solid #aaa;*/
}

.todo-app header input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px solid rgba(255,255,255,0.5);
}

.todo-app header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.todo-app header input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.todo-app header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.todo-app header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.todo-appheader input:input-placeholder {
  color: rgba(255,255,255, 0.9);
}

.todo-app header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
}

.todo-app header button svg {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -8px 0 0 -8px;
}

.todo-app header button svg .fill {
  fill: rgba(255, 175, 0,1);
}

.todo-app .container {
  width: 100%;
  float: left;
  padding: 15px;
}

.todo-app ul.todo {
  width: 100%;
  float: left;
}

.todo-app ul.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;

  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
}

.todo-app ul.todo li:last-of-type {
  margin: 0;
}

.todo-app ul.todo li .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

.todo-app ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo-app ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  left: 0;
}

.todo-app ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}

.todo-app ul.todo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid rgba(255, 175, 0,1);

  transition: background 0.2s ease;
}

.todo-app ul.todo#completed li .buttons button.complete svg {
  background: rgba(255, 175, 0,1);
  border: 0px;
}

.todo-app ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: rgba(255, 175, 0,0.75);
}

.todo-app ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
  fill: #fff;
}

.todo-app ul.todo#completed li .buttons button.complete svg .fill {
  fill: #fff;
}

.todo-app ul.todo li .buttons button svg .fill {
  transition: fill 0.2s ease;
}

.todo-app ul.todo li .buttons button.remove svg .fill {
  fill: #c0cecb;
}

.todo-app ul.todo li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}

.todo-app ul.todo li .buttons button.complete svg .fill {
  fill: rgba(255, 175, 0,1);
}

.todo-app ul.todo#completed {
  position: relative;
  padding: 60px 0 0 0;
}

.todo-app ul.todo#completed:before {
  content: '';
  width: 150px;
  height: 1px;
  background: #d8e5e0;

  position: absolute;
  top: 30px;
  left: 50%;

  margin: 0 0 0 -75px;
}

.todo-app ul.todo#todo:empty:after {
  content: 'У вас еще нет заметок !';
  margin: 15px 0 0 0;
}

.todo-app ul.todo#completed:empty:after {
  content: 'У вас еще нет выполненных заметок !';
}

.todo-app ul.todo#todo:after,
.todo-app ul.todo#completed:after {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}


.todo-app {
  width: 30%;
  float: right;
  overflow: scroll;
  height: 100%;
  margin-top: -5px;

  background: rgba(255,255,255,0.4);

  border-left: 2px solid #aaa;
}

.google-app {
  width: 70%;
  height: 100%;
  float: left;
  background: rgba(255,255,255,0.7);
}

header.main-header {
  width: 100%;
  height: 80px;

  position: fixed;
  padding: 15px;
  padding-left: 51%;
  top: 0;
  left: 0;
  z-index: 4;

  background: rgba(255,255,255,0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.icon-fa-vk .fa {

position: absolute;
top: 50%;
left: 50%;
margin-top: -25px;
margin-left: -18px;
font-size: 30px;
line-height: 50px;
outline: 0;
color: #fff;
-webkit-transition: all .3s;
-moz-transition: all .3s;
transition: all .3s;

}

.icon-fa-vk{
    z-index: 5;
  position: relative;
  background:
    -webkit-linear-gradient(bottom left, hsla(250, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
    -webkit-linear-gradient(top left, hsla(190, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
    -webkit-linear-gradient(top right, hsla(200, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
    -webkit-linear-gradient(bottom right, hsla(190, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);
  background:
    -o-linear-gradient(bottom left, hsla(250, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
    -o-linear-gradient(top left, hsla(190, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
    -o-linear-gradient(top right, hsla(200, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
    -o-linear-gradient(bottom right, hsla(190, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);
  background:
    linear-gradient(to top right, hsla(190, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
    linear-gradient(to bottom right, hsla(230, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
    linear-gradient(to bottom left, hsla(200, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
    linear-gradient(to top left, hsla(190, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.icon-fa-instagram .fa {

position: absolute;
top: 50%;
left: 50%;
margin-top: -25px;
margin-left: -12px;
font-size: 30px;
line-height: 50px;
outline: 0;
color: #fff;
-webkit-transition: all .3s;
-moz-transition: all .3s;
transition: all .3s;

}

.icon-fa-instagram{
    z-index: 5;
  position: relative;
    background:
    -webkit-linear-gradient(45deg, hsla(0, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(230, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(30, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(230, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);
  background:
    linear-gradient(45deg, hsla(0, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
    linear-gradient(135deg, hsla(230, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
    linear-gradient(225deg, hsla(30, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
    linear-gradient(315deg, hsla(230, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);

  margin-left: 20px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.icon-fa-youtube .fa {

position: absolute;
top: 50%;
left: 50%;
margin-top: -25px;
margin-left: -13px;
font-size: 30px;
line-height: 50px;
outline: 0;
color: #fff;
-webkit-transition: all .3s;
-moz-transition: all .3s;
transition: all .3s;

}

.icon-fa-youtube{
    z-index: 5;
  position: relative;
    background:
    -webkit-linear-gradient(45deg, hsla(0, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(7, 100%, 27%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(30, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(7, 100%, 27%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);
  background:
    linear-gradient(45deg, hsla(0, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
    linear-gradient(135deg, hsla(7, 100%, 27%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
    linear-gradient(225deg, hsla(30, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
    linear-gradient(315deg, hsla(7, 100%, 27%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);

  margin-left: 20px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.icon-fa-tusur{
    z-index: 5;
  position: relative;
    background:
    -webkit-linear-gradient(45deg, hsla(0, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(230, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(30, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(230, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);
  background:
    linear-gradient(45deg, hsla(30, 93%, 48%, 1) 30%, hsla(173, 93%, 48%, 0) 80%),
    linear-gradient(225deg, hsla(230, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 10%),
    linear-gradient(12deg, hsla(0, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 80%),
    linear-gradient(315deg, hsla(230, 74%, 57%, 1) 100%, hsla(50, 94%, 47%, 0) 60%);

  margin-left: 20px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.icon-fa-tusur .fa {

position: absolute;
top: 50%;
left: 50%;
margin-top: -25px;
margin-left: -14px;
font-size: 27px;
line-height: 50px;
outline: 0;
color: #fff;
-webkit-transition: all .3s;
-moz-transition: all .3s;
transition: all .3s;

}


.google-app header {
  width: 50%;
  height: 80px;

  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 6;

  background: #f91929;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

  border-radius: 0 50px 50px 0;

  border-right: 2px solid white;
}

.google-app header input {
  width: 99%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  border: 1px solid rgba(255,255,255,0.5);

  -webkit-appearance: none;
  -moz-appearance: none;
}

.google-app header input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.google-app header input:-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.google-app header input::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.google-app header input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.google-app header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right: 10%;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);

}

.google-app header button svg {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -15px 0 0 -15px;
}

.google-app header button svg .fill {
  fill: #f91929;
}

.google-app header button svg .noFill {
  fill: #fff;
}


.player{
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0px;
  background: rgba(255,255,255,0.3);
  box-shadow: 0px 2px 4px rgba(1, 1, 1, 0.6);
  border-right: 2px solid #fff ;

  padding-top: 222px;

  overflow: hidden;

}

.player .container{
  overflow: scroll;
  height: 100%;
}


.isplaying {
  fill: rgba(23, 175, 0,1);
}


.player .noFill {
  fill: none;
}

.player header {
  width: 100%;
  height: 80px;

  position: absolute;
  padding: 15px;
  top: 80px;
  right: 0;
  z-index: 5;

  background: #455FEA;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
/*  border-bottom-right-radius: 10px;*/
/*  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;*/
  /*border-left: 2px solid #aaa;*/
}

.player header input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px solid rgba(255,255,255,0.5);
}


.player header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
}

.player header button:hover {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
}

.player header button:active {

    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.player header button svg {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -8px 0 0 -8px;
}

.player header button svg .fill {
  fill: #455FEA;
}

.player .container {
  width: 100%;
  float: left;
  padding: 15px;
}

.player ul.todo {
  width: 100%;
  float: left;
}

.player ul.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;

  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  user-select: none;

        -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s  ease-in-out;
  transition: all 0.4s ease-in-out;
}



.player ul.todo li:last-of-type {
  margin: 0;
}

.player ul.todo li:first-of-type .buttons {
  width: 250px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

.player ul.todo li .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

.player ul.todo li .buttons button {
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

        -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s  ease-in-out;
  transition: all 0.4s ease-in-out;
}

.player ul.todo li .buttons button:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  left: 0;
}

/*.player ul.todo li .buttons button:first-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  left: 0;
}*/

/*.player ul.todo li:first-of-type .buttons button:first-of-type:after {
    content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  right: 0;
}*/

.player ul.todo li .buttons button svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;

        -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s  ease-in-out;
  transition: all 0.4s ease-in-out;
}

.player ul.todo li .buttons button.complete svg {
  border-radius: 11px;
  border: 1.5px solid #455FEA;

  transition: background 0.2s ease;
}

.player ul.todo#completed li .buttons button.complete svg {
  background: #455FEA;
  border: 0px;
}

.player ul.todo:not(#completed) li .buttons button.complete:hover svg {
  background: #455FEA;
}

.player ul.todo li .buttons button svg .fill {
  transition: fill 0.2s ease;
}

.player ul.todo li .buttons button.remove svg .fill {
  fill: #c0cecb;
}

.player ul.todo li .buttons button.remove:hover svg .fill {
  fill: #e85656;
}

.player ul.todo li .buttons button.complete svg .fill {
  fill: #455FEA;
}

.isPlaying{
  background: #aaa;
}

/*.player ul.todo li .buttons:first-child:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: rgba(0,0,0,0);

  position: absolute;
  top: 10px;
  left: 0;
}*/

.player ul.todo li:first-child button:hover{
  cursor: pointer;
}
.player ul.todo li:first-child:hover{
  background: rgba(69,95,234,0.4);

        -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s  ease-in-out;
  transition: all 0.4s ease-in-out;

}
.player ul.todo li:first-child{

  position: absolute;
  top: 172px;
  left: 0;
  z-index: 6;

  width: 100%;
  box-shadow: 0px 2px 2px rgba(1, 1, 1, 0.5);

  background: rgba(69,95,234,0.5);

      -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s  ease-in-out;
  transition: all 0.4s ease-in-out;

}

/*.player ul.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;

  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  user-select: none;

        -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s  ease-in-out;
  transition: all 0.4s ease-in-out;
}*/

.player ul.todo li:first-child button{

}


#progress{
  cursor: pointer;
  width: 0%;
  height: 12px;
  position: absolute;
  top: 160px;
  left: 0;
  z-index: 4;

  background: rgba(255,250,250,0.9);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid white;

}

#progressback{
  cursor: pointer;
  width: 100%;
  height: 12px;
  position: absolute;
  top: 160px;
  right: 0;
  z-index: 3;

  background: rgba(150,150,255,1);
  border: 1px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}


/*.player header {
  width: 100%;
  height: 80px;

  position: absolute;
  padding: 15px;
  top: 80px;
  right: 0;
  z-index: 5;

  background: #455FEA;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
/*  border-bottom-right-radius: 10px;*/
/*  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;*/
  /*border-left: 2px solid #aaa;*/
/*}*/

#pauseB, #autoB, #randB, #nextB ,#stopB {
  color: white;
/*  color: rgba(69,95,234,1);*/
  text-indent: 0px;
  font-size: 13px;
}
#pauseB:before, #autoB:before, #randB:before, #nextB:before ,#stopB:before {
content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  left: 0;
}

.google-app header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
}

.google-app header button:hover {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
}

.google-app header button:active {

    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.todo-app header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
}

.todo-app header button:hover {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
}

.todo-app header button:active {

    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}



.listOfGroups{
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 40%;

  padding-top: 160px;

  overflow: hidden;
  z-index: 4;

}
.listOfGroups header {
  width: 100%;
  height: 80px;

  position: absolute;
  padding: 15px;
  top: 80px;
  right: 0;
  z-index: 4;

  background: #A652E7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
/*  border-bottom-right-radius: 10px;*/
/*  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;*/
  /*border-left: 2px solid #aaa;*/
}

.listOfGroups header input {
  width: 100%;
  height: 50px;
  float: left;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-indent: 18px;
  padding: 0 60px 0 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px 25px 25px 5px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px solid rgba(255,255,255,0.5);
}


.listOfGroups header button {
  width: 50px;
  height: 50px;

  position:absolute;
  top:15px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
}

.listOfGroups header button:hover {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
}

.listOfGroups header button:active {

    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s  ease-in-out;
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.listOfGroups header button svg {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -8px 0 0 -8px;
}

.listOfGroups header button svg .fill {
  fill: #A652E7;
}

.listOfGroups .container{
  overflow: scroll;
  height: 100%;
  padding: 15px;
}
.listOfGroups ul.todo {
  width: 100%;
  float: left;
}

.listOfGroups ul.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 22px;

  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  user-select: none;

        -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s  ease-in-out;
  transition: all 0.4s ease-in-out;
}
.listOfGroups ul.todo li:last-of-type {
  margin: 0;
}


.listOfGroups ul.todo li:hover {
    background: rgba(166,82,231,0.7);
    color: #fff;
    cursor: pointer;

        -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s  ease-in-out;
  transition: all 0.4s ease-in-out;
}


.listOfGroups header button svg .fill {
  fill: #A652E7;
}

.listOfGroups header button svg .noFill {
  fill: #fff;
}

.listOfGroups header button svg {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -15px 0 0 -15px;
}
