/*
Author URI: http://webthemez.com/
Note:
Licence under Creative Commons Attribution 3.0
-------------------------------------------------------*/

@charset "utf-8";
font-family: 'Roboto', sans-serif;
/* Reset
---------------------------------*/
ul {
    list-style: none;
}

i:hover{
    cursor: pointer;
}

#particles{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
}

.figure {
    margin: 0px;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 0px !important;
	text-decoration:none;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Styles
---------------------------------*/
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

.my-logo{position:fixed;bottom:10px;left:10px;margin:0;padding:0;z-index: 1001; color:white; opacity: 0.7;}
.my-logo__pic{border:0;vertical-align:middle;width:50px;height:50px;}

.body{
    opacity: 0;
}

h2 {
    font-size: 38px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 18px;
    margin: 0 0 5px 0;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* Header Styles
---------------------------------*/

#header_wrapper {
    background: #f7ca18;
    padding: 0px 0px 5px 0px;

    border-top: 4px solid #FFFFFF;
	box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.44);
    position: relative;
}

.header_box {
    position: relative;
}

.logo {
    float: left;
    margin-top: 8px;
	position: relative;
	z-index: 2;
}

.res-nav_click {
    display: none;
}

/* Top_content
---------------------------------*/

.top_cont_outer {
    background: #ED5441;
    position: relative;
    background: url('../img/main2.jpg') no-repeat;
	background-size: cover;
}

.hero_section {
    position: relative;
    padding-top: 0%;
}
.hero_wrapper {
 /*background: rgba(10, 21, 37, 0.69);
 */
}
.white_pad {
    position: relative;
    right: 0px;
    bottom: 0px;
}

.white_pad img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.top_left_cont {
    padding: 30% 0;
}

.top_left_cont h3 {
    font-size: 16px;
    color: #f56eab;
    margin: 0 0 20px 0;
    text-align: left;
    font-weight: 700;
}

.top_left_cont h2 {
    font-size: 40px;
    color: #FFF;
    line-height: 52px;
    margin: 0 0 26px 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.top_left_cont h2 strong {
    font-weight: 700;

    color: #f7ca18;
}

.top_left_cont p {
font-size: 18px;
color: #FFFFFF;
margin: 0 0 30px 0;
line-height: 33px;
text-align: center;
font-weight: normal;
font-size: 20px;
/* font-weight: 300; */
text-align: center;
letter-spacing: 1px;
}

a.read_more, a.read_more2 {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 16px;
    width: 178px;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
	margin:0 auto;
}
a.read_more{
	 color: #3C3C3C;
	 border: 1px solid #3C3C3C;
}
a.read_more2:hover, a.read_more:hover {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}
a.read_more:hover {
    background: #fff;
    color: #ED5441;
    border: 1px solid #ED5441;
}

/*
   Media Queries
--------------------------- */
@media (min-width: 700px) and (max-width: 1200px) {

.aboutUs-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 59%;
background-position-y: 150px;
}
}
@media (max-width: 900px) {
.navStyle {
float: right;
width: auto;
text-align: center;
}
.aboutUs-container{
	background-image:none;
}
p{
font-size:14px;
}
.top_cont_outer {
height: 335px;
}
.hero_section {
position: relative;
padding-top: 10px;
}
.top_left_cont {
padding: 38px 0;
}
.top_left_cont h2 {
font-size: 25px;
color: #FFF;
line-height: 39px;
margin: 0 0 9px 0;
}
.inner_section {
padding: 20px 0 20px;
}
#aboutUs img{
margin-bottom:20px;
}
#aboutUs h3{
font-size:26px;
line-height:22px;
}
.service_block h3 {
font-size: 16px;
}
service_block p {
font-size: 14px;
margin: 0px;
margin-bottom: 20px;
}
#filters ul{
padding-left:0px;
}
.form {
margin: 0 18px;
}
.page_section.team{
padding: 40px 0;
}
, #clients {
padding: 40px 0;
}
.client_logos ul li {
display: inline;
margin: 0 25px;
padding: 11px 0;
display: inline-block;
}
.social_links li {
float: left;
}
.contact_section{
margin:0;
}
h2, .contact_section h2 {
font-size: 30px;
}
.page_section.contact {
padding: 60px 0 50px;
}
.navbar-inverse .navbar-toggle .icon-bar{
background: #FFFFFF;
}
.navbar-inverse .navbar-toggle {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
background:none;
outline: none;
}
.navStyle ul li {
display: block;
}
.navStyle {
float: right;
width: 100%;
text-align:center;
}
.navbar {
border: 0px solid #fff;
min-height: 40px;
margin-bottom: 0px;
float: right;
}
.navStyle ul li {
display: block;
margin: 0px;
}
.navStyle ul li:last-child {
margin: 0px;
}
.navbar-inverse .navbar-nav > li > a {
color: #222;
font-size:12px;
padding: 10px 11px;
}
}
@media (max-width: 480px){
.navStyle {
float: left;
width: 100%;
text-align: left;
margin-top: 20px;
}
.navbar {
border: 0px solid #fff;
min-height: 40px;
margin-bottom: 0px;
float: initial;
width: 100%;
}
.team_area {
width: 99%;
}
.read_more2{
display:none;
}
}

/* PAGE PRELOADER PAGE PRELOADER PAGE PRELOADER*/

.full_page_noloaded {

}

.pl {
    position: fixed;
    width: 100%;
    height: 100%;

    z-index: 1001;
    -webkit-z-index: 1001;
}

.pl_loaded{
    display: none;
}

.pl__l, .pl__r {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 999;
    -webkit-z-index: 999;
    background: #f7ca18;

}

.pl__l {
    left: 0;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
.pl__r {
    right: 0;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}



.loaded_pl__l {
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    left: -100%;
}

.loaded_pl__r {
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    right: -100%;
}

.loaded_round {
    opacity: 0;
  -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;


}

.round {
/*      background:
        -webkit-linear-gradient(45deg, hsla(102, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
        -webkit-linear-gradient(315deg, hsla(50, 94%, 47%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
        -webkit-linear-gradient(225deg, hsla(173, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
        -webkit-linear-gradient(135deg, hsla(50, 94%, 47%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);
    background:
        linear-gradient(45deg, hsla(102, 98%, 46%, 1) 0%, hsla(102, 98%, 46%, 0) 70%),
        linear-gradient(135deg, hsla(50, 94%, 47%, 1) 100%, hsla(50, 94%, 47%, 0) 80%),
        linear-gradient(225deg, hsla(173, 93%, 48%, 1) 10%, hsla(173, 93%, 48%, 0) 80%),
        linear-gradient(315deg, hsla(50, 94%, 47%, 1) 100%, hsla(50, 94%, 47%, 0) 70%);

    -webkit-background-size: cover ;
    background-size: cover ;*/
}

.invisible_round{
    opacity: 0;
}

.visible_body_pre{
    opacity: 1;
}

#loading_system{
z-index: 997;
-webkit-z-index: 997;

}
.round {

    top: 50%;
    left: 50%;
    width: 0px;
    height: 4px;
     margin: -2px 0 0 -0px;

box-sizing: border-box;
-moz-box-sizing: border-box;

background: rgba(0,0,0,0.6);

  position: absolute;
  -webkit-transition: 1.3s;
    -o-transition: 1.3s;
    transition: 1.3s;

-webkit-animation: spin 2.3s linear;
  -o-animation: spin 2.3s linear;
  animation: spin 2.3s linear;

  z-index: 1000;
  -webkit-z-index: 1000;
}


@-webkit-keyframes spin {
  0% {
width: 0px;
   }
  70% {
width: 30%;
margin: -2px 0 0 -15%;
background: rgba(0,0,0,0.9);

   }
  100% {
width: 0px;
 margin: -2px 0 0 -0px;
 background: rgba(255,255,255,0.9);
   }
}
